@using MudBlazor.Utilities


<MudGrid Class="mt-16">
    <MudItem xs="7">
        <MudStack>
            <MudText Typo="Typo.h1" Style="@_titleStyle">
                <span style="color: var(--mud-palette-primary);">O</span>pen
                <br/>
                <span style="color: var(--mud-palette-primary);">P</span>rivateers
                <br/>
                <span style="color: var(--mud-palette-primary);">A</span>greement
            </MudText>
            <MudText Color="Color.Primary" Typo="Typo.h4" Style="@_subtitleStyle">
                Infinite Lagrange's repository of knowledge, hosted by Solar Eclipse
            </MudText>
            <MudText Typo="Typo.body2">
                Rank yourself among the best of the best, and earn your place in the history of the galaxy.
                From tools to help you get started, to the latest and greatest in fleet design, we have it all.
            </MudText>
            <MudText Typo="Typo.body2">
                Come join us, and become a part of the community that is shaping the future of the game.
            </MudText>
        </MudStack>
        <MudStack Class="my-16">
            <AuthorizeView>
                <Authorized>
                    <MudElement>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Secondary"
                                   Href="@DiscordUrl"
                                   Style="@_registerStyle"
                                   StartIcon="@Icons.Custom.Brands.Discord">
                            Discord
                        </MudButton>
                    </MudElement>
                </Authorized>
                <NotAuthorized>
                    <MudElement>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Secondary"
                                   Href="/login"
                                   Style="@_registerStyle"
                                   EndIcon="@Icons.Material.Outlined.KeyboardDoubleArrowRight">
                            Login
                        </MudButton>
                    </MudElement>
                </NotAuthorized>
            </AuthorizeView>
        </MudStack>
    </MudItem>
</MudGrid>

@code {

    private string? _titleStyle;
    private string? _subtitleStyle;
    private string? _registerStyle;

        private const string DiscordUrl = "https://discord.gg";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _titleStyle = new StyleBuilder()
            .AddStyle("text-transform", "uppercase")
            .Build();

        _subtitleStyle = new StyleBuilder()
            .AddStyle("text-transform", "uppercase")
            .Build();

        _registerStyle = new StyleBuilder()
            .AddStyle("border", "1px solid var(--mud-palette-primary)")
            .AddStyle("padding-left", "2.5rem")
            .AddStyle("padding-right", "2.5rem")
            .Build();
    }

}